@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Unica+One|Staatliches&display=swap');

.personal-pic-wrapper {
    background-color: rgba(226, 131, 42, 0.733);
}

.personal-pic-wrapper img {
    position: relative;
    left: 45%;
}

.greeting {
    text-align: center;
    padding: 5vh;
    line-height: 2;
    font-family: 'Josefin Slab', serif;
}

.jinBio {
    padding: 3em;
    width: 55vw;
    margin-left: 21.5%;
    font-family: 'Josefin Slab', serif;
    line-height: 1.5;
}

.jinBio h2 {
    text-align: center;
    line-height: 2.5;
    font-family: 'Unica one', cursive;
}

.jinBio p {
    font-size: 18px;
    position: relative;
    left: 1.5em;
}

.email-container {
    border: 2px solid black;
    border-radius: 4em;
    font-family: 'Unica one', cursive;
    width: 120px;
    position: relative;
    left: 46%;
    text-align: center;
}

.email-container a:hover {
    text-decoration: none;
}

.email-container:hover {
    background-color: black;
}

.email-container a:hover {
    color: white;
}

.email-container a {
    font-size: 20px;
    color: black;
}

.email-wrapper {
    padding: 2em;
}

#about-social {
    position: relative; 
    left: 42%;
    width: 215px;
}

.app-outer {
    align-items: center;
    width: 50vw;
    height: 85vh;
    display: flex;
    padding:  30px 0;
    flex-direction: column;
}

.app-inner {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.tag-cloud {
	flex: 1;
}

.tag-cloud > div {
    transition: 1.4s;
    padding: 1em;
}

@media (max-width: 768px) and (min-width: 441px){
    .personal-pic-wrapper img {
        position: relative;
        left: 39%;
    }
}

@media (max-width: 440px) { 
    .personal-pic-wrapper img {
        position: relative;
        left: 30%;
    }

    .greeting h1 {
        font-size: 24px;
    }

    .personal-pic-wrapper img {
        width: 200px;
    }

    .jinBio h2 {
        font-size: 1.5rem;
    }

    .jinBio p {
        font-size: 12px;
    }

    .jinBio {
        padding: 1em;
        width: 75vw;
        margin-left: 13.5%;
    }

    .email-container {
        width: 90px;
        left: 30vw;
    }

    .email-container a {
        font-size: 14px;
    }
}