@import url("https://fonts.googleapis.com/css?family=Lexend+Deca");
.bioList .portrait {
    content: url("portrait.png");
    border-radius: 5%;
    width: 600px;
    position: relative;
    right: 2em;
}

.bioList {
    display: flex;
    justify-content: space-between;
}

.bioList .list {
    position: relative;
    top: 15vh;
    left: 2em;
}

.bioList .list h1 {
    padding-top: 4vh;
    font-family: 'Lexend Deca', serif;
    font-size: 28px;
}

.bioList .list li {
    font-family: 'Libre Caslon Text', serif;
    padding-top: 5vh;
    position: relative;
    left: 3vw;
    width: 50vw;
    font-size: 22px;
}

.bioList .list p {
    padding-top: 3vh;
    width: 50vw;
    font-size: 22px;
    font-family: 'Libre Caslon Text', serif;
    width: 60%;
    margin-left: 3em;
}

.jinBio {
    width: 75%;
    position: relative;
    left: 15%;
    padding: 1em;
    font-size: 22px;
    font-family: 'Libre Caslon Text', serif;
}