@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Unica+One|Staatliches&display=swap');

.personal-pic-wrapper {
    background-color: rgba(226, 131, 42, 0.733);
}

.personal-pic-wrapper img {
    position: relative;
    left: 45%;
}

.greeting {
    text-align: center;
    padding: 5vh;
    line-height: 2;
    font-family: 'Josefin Slab', serif;
}

.jinBio {
    padding: 3em;
    width: 55vw;
    margin-left: 21.5%;
    font-family: 'Josefin Slab', serif;
    line-height: 1.5;
}

.jinBio h2 {
    text-align: center;
    line-height: 2.5;
    font-family: 'Unica one', cursive;
}

.jinBio p {
    font-size: 18px;
    position: relative;
    left: 1.5em;
}

.email-container {
    border: 2px solid black;
    border-radius: 4em;
    font-family: 'Unica one', cursive;
    width: 120px;
    position: relative;
    left: 44%;
    text-align: center;
}

.email-container a:hover {
    text-decoration: none;
}

.email-container:hover {
    background-color: black;
}

.email-container a:hover {
    color: white;
}

.email-container a {
    font-size: 20px;
    color: black;
}

.email-wrapper {
    padding: 2em;
}

#about-social {
    position: relative; 
    left: 41%;
}

.app-outer {
    align-items: center;
    width: 100%;
    height: 450px;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
}

.app-inner {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 1000px;
	width: 100%;
}

.tag-cloud {
	flex: 1;
}

.tag-cloud > div {
    transition: 1.4s;
    padding: 1em;
}