.bioList .portrait {
    content: url("portrait.png");
    border-radius: 5%;
    width: 600px;
    position: relative;
    right: 2em;
}

.bioList {
    font-size: 26px; 
    font-family: 'Amiri', serif;
    display: flex;
    justify-content: space-between;
}

.bioList .list {
    position: relative;
    top: 15vh;
    left: 3em;
}

.bioList .list h1 {
    padding-top: 4vh;
    font-family: 'Vollkorn', serif;
    font-size: 26px;
}

.bioList .list li {
    font-family: 'Amiri', serif;
    padding-top: 5vh;
    position: relative;
    left: 3vw;
    width: 50vw;
    font-size: 24px;
}

.bioList .list p {
    padding-top: 3vh;
    width: 50vw;
    font-size: 24px;
}

.jinBio {
    width: 75%;
    position: relative;
    left: 15%;
    padding: 1em;
    font-size: 28px;
    font-family: 'Amiri', serif;
}