@import url('https://fonts.googleapis.com/css?family=Assistant|Reem+Kufi&display=swap');

#navbar li {
    list-style-type: none;
    font-size: 20px;
    font-family: 'Assistant', sans-serif;
}

#navbar li .nav-link:hover{
    color: #000; 
    border-bottom: 2px solid #000;
    padding-bottom: 4px;
}

#navbar li .nav-link, .nav-brand .nav-link {
    text-decoration: none;
    color: rgb(114, 111, 107);
}

#navbar .work, .personal {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
}

#navbar .work {
    position: relative;
    right:5%;
}

#navbar .personal {
    position: relative;
    left: 5%;
}

#navbar {
    justify-content: center;
    display: flex;
}

#navbar .nav-brand {
    padding-top: 1em;
    font-size: 28px;
    font-family: 'Reem Kufi', sans-serif;
}

#navbar .nav-brand .nav-link {
    text-transform: uppercase; 
    color: #000;
}