#navbar li {
    list-style-type: none;
    font-size: 20px;
    font-family: 'Unica One', cursive;
}

#navbar li .nav-link:hover {
    color: #000; 
    border-bottom: 2px solid rgb(232,211,162);
    padding-bottom: 4px;
}

.active {
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
}

#navbar li .nav-link, .nav-brand .nav-link {
    text-decoration: none;
    color: rgb(114, 111, 107);
}

#navbar .work, .personal {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    width: 15%;
}

#navbar .work {
    margin-left: 100px;
    margin-right: 88px;
}

#navbar .personal {
    margin-left: 88px;
    margin-right: 100px;
}

#navbar {
    justify-content: center;
    display: flex;
    padding: 0 0 0 0;
}

#navbar .nav-brand {
    padding-top: 1em;
    font-size: 28px;
    font-family: 'Unica One', cursive;
    margin-left: auto;
    margin-right: auto;
}

#navbar .nav-brand .nav-link {
    text-transform: uppercase; 
    color: #000;
}

@media (max-width: 440px) { 
    #navbar li {
        font-size: 12px;
    }

    #navbar .work {
        margin-left: -10px;
        margin-right: 83px;
    }

    #navbar .personal {
        margin-left: -24px;
        margin-right: 66px;
    }

    #navbar .nav-brand {
        padding-top: 2em;
        font-size: 19px;
    }
}

@media (max-width: 768px) {
    #navbar .work {
        margin-left: 40px;
        margin-right: 115px;
    }

    #navbar .personal {
        margin-left: 40px;
        margin-right: 115px;
    }
}