.navbar-light .navbar-nav .nav-link {
    color: white !important;
    font-family: 'Vollkorn', serif;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 24px;
}

.active {
    color: rgba(95, 210, 255, 0.767);
}

.inactive {
    color: inherit;
}