@import url('https://fonts.googleapis.com/css?family=Assistant|Reem+Kufi&display=swap');

#navbar li {
    list-style-type: none;
    font-size: 20px;
    font-family: 'Assistant', sans-serif;
}

#navbar li .nav-link:hover, .active{
    color: #000; 
    border-bottom: 2px solid #000;
    padding-bottom: 4px;
}

#navbar li .nav-link, .nav-brand .nav-link {
    text-decoration: none;
    color: rgb(114, 111, 107);
}

#navbar .work, .personal {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    width: 15%;
}

#navbar .work {
    margin-left: 216px;
    margin-right: 88px;
}

#navbar .personal {
    margin-left: 88px;
    margin-right: 216px;
}

#navbar {
    justify-content: center;
    display: flex;
    padding: 0 0 0 0;
}

#navbar .nav-brand {
    padding-top: 1em;
    font-size: 28px;
    font-family: 'Reem Kufi', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

#navbar .nav-brand .nav-link {
    text-transform: uppercase; 
    color: #000;
}