@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

.intro h1 {
    font-size: 28px;
    font-family: 'Merriweather', serif;
}

.intro {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    width: 55%;
    text-align: center;
}

.projects {
    margin: 10em 110px 0 110px;
    display: block;
}

figure {
    margin: 0;
} 

.double-item-row, .single-item-row {
    display: flex;
}

.single-item-row .item-link {
    width: 88.4vw;
    height: 30vh;
}

.double-item-row .item-link {
    width: 43vw;
    height: 30vh;
}

.single-item-row .hover-overlay {
    width: 85vw;
} 

.double-item-row .hover-overlay {
    width: 42.5vw;
}

.item-link {
    text-decoration: none !important;
}

.proj-image {
    background-repeat: no-repeat;
}

.double-item-row .proj-image {
    position: relative;
    left: 14vw;
    right: 14vw;
    top: 2vh;
}

.single-item-row .proj-image {
    position: relative;
    left: 43%;
    right: 43%;
    top: 6vh;
}

.hover-overlay {
    height: 30vh;
    position: relative;
    bottom: 2vh;
}

.double-item-row .hover-overlay {
    position: relative;
    right: 14vw;
}

.single-item-row .hover-overlay {
    position: relative;
    right: 36.4vw;
    bottom: 6vh;
}

.hover-overlay:hover {
    background-color: rgba(0, 0, 0, 0.308);
}

.hover-overlay:hover h2 {
    visibility: visible;
}

.hover-overlay h2 {
    visibility: hidden;
    text-align: center;
    position: relative;
    top: 10vh;
    color: whitesmoke;
}

#icebreaker {
    background-image: url("img/diveIn.png");
    width: 15vw;
    height: 35vh;
}

#span {
    background-image: url("img/SPAN.png");
    width: 20vw;
    height: 40vh;
}

#celiac {
    background-image: url("img/Celiac.png");
    width: 20vw;
    height: 25vh;
}

#movieApp {
    background-image: url("img/movieRate.png");
    width: 13vw;
    height: 28vh;
}

#usexports {
    background-image: url("img/exports.png");
    width: 15vw;
    height: 24vh;
}