@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

.intro h1 {
    font-size: 28px;
    font-family: 'Merriweather', serif;
}

.intro {
    margin-left: auto;
    margin-right: auto;
    padding-top: 4em;
    width: 50%;
}