@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

.intro h1 {
    font-size: 28px;
    font-family: 'Merriweather', serif;
}

.intro {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    width: 55%;
    text-align: center;
}

.projects {
    margin: 10em 110px 0 110px;
    display: block;
}

.projects a {
    display: block;
    width: 100%;
    height: 100%;
}

.item-image-wrapper {
    display: flex;
    align-items: center;
    width: calc(100% - 4vw);
    height: calc(100% - 3vw);
    justify-content: center;
}

.proj {
    align-items: center;
    width: 43vw;
}

figure {
    margin: 0;
}

figure img {
    width: 25vw;
}