@import url('https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap');

#resume-container {
    padding-top: 5vh;
    display: flex;
    justify-content: space-between;
}

.container {
    padding-bottom: 5vh;
}

.container h2 {
    font-family: 'Unica one', cursive;
    line-height: 2;
}

.list-wrapper {
    display: flex;
    justify-content: space-between;
}

#resume-container .list-wrapper {
    margin-top: 4em;
}

#education-container {
    padding-bottom: 10vh;
}

.end-container {  
    font-size: 32px;
    font-family: 'Josefin Slab', serif;
    line-height: 2;
    padding-bottom: 5vh;
    position: relative;
    left: 40vw;
    width: 300px;
}

.end-wrapper {
    position: relative;
    top: 10%;
}

.end-wrapper a button {
    border-radius: 20px;
    border: 2px solid rgb(232,211,162);
    background: inherit;
    color: black;
    font-family: 'Unica one', cursive;
    font-size: 24px;
    width: 300px;
}

.end-wrapper a button:hover {
    background: rgb(232,211,162);
}

.end-wrapper a button:active {
    outline: none;
    border: none;
}

.end-wrapper a button:focus {
    outline: 0;
}

.end-wrapper a {
    text-decoration: none;
}

.list, .skill-list {
    font-family: 'Josefin Slab', serif;
}

.description-container a {
    color: rgb(189, 162, 99);
}

.line1, .line2 {
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
}

.list, .description-container {
    width: 60vw;
}

.skill-list {
    width: 80vw; 
}

.skill-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skill-list li {
    flex-basis: calc(100% / 3);
}

.description-container {
    font-family: 'Josefin Slab', serif;
    margin-left: 12%;
}

footer {
    text-align: center;
    padding-top: 10px;
    font-size: 2vh
}

@media (max-width: 1000px) {
    .end-container {
        left: 35vw;
    }

    .social-area {
        left: 40vw;
    }
}

@media (max-width: 768px) {
    #resume-container .list-wrapper {
        position: relative;
        right: 10vw;
    }

    .skill-list {
        width: 88vw;
    }

    .end-container {
        left: 30vw;
    }

    .social-area {
        left: 35vw;
    }
}

@media (max-width: 440px) { 
    .container h2 {
        font-size: 1.5rem;
    }

    .end-container {
        width: 190px;
        left: 25vw;
    }

    .container {
        font-size: 12px;
    }

    #resume-container .list-wrapper {
        margin-top: 5em;
        position: relative;
        right: 20vw;
    }

    .description-container {
        margin-left: 11%;
        width: 70vw;
    }

    .skill-list {
        width: 85vw;
    }

    .end-wrapper a button {
        font-size: 14px;
        width: 184px;
    }

    .social-area #social-media {
        padding:10%;
    }
}