@import url('https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap');

#resume-container {
    padding-top: 5vh;
    display: flex;
    justify-content: space-between;
}

.container {
    padding-bottom: 5vh;
}

.container h2 {
    font-family: 'Unica one', cursive;
    line-height: 2;
}

#resume-container .list {
    margin-top: 4em;
}

#education-container {
    padding-bottom: 10vh;
}

.end-container {  
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-family: 'Josefin Slab', serif;
    line-height: 2;
    padding-bottom: 5vh;
}

.end-wrapper {
    position: relative;
    top: 10%;
}

.end-wrapper a button {
    border-radius: 20px;
    border: 2px solid rgb(232,211,162);
    background: inherit;
    color: black;
    font-family: 'Unica one', cursive;
    font-size: 24px;
    width: 300px;
}

.end-wrapper a button:hover {
    background: rgb(232,211,162);
}

.end-wrapper a {
    text-decoration: none;
}

.list {
    font-family: 'Josefin Slab', serif;
}

.description-container a {
    color: rgb(189, 162, 99);
}

.line1, .line2 {
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
}

.list, .description-container {
    width: 50vw;
}

.description-container {
    font-family: 'Josefin Slab', serif;
    margin-left: 25%;
}

footer {
    text-align: center;
    padding-top: 10px;
    font-size: 2vh
}

@media (min-width: 768px) {
    .personal-pic-wrapper img {
        position: relative;
        left: 30%;
    }

    #about-social {
        position: relative;
        left: 39%;
    }
}

@media (max-width: 440px) { 
    .greeting h1 {
        font-size: 28px;
    }

    .personal-pic-wrapper img {
        width: 200px;
    }

    .jinBio h2 {
        font-size: 1.5rem;
    }

    .jinBio p {
        font-size: 13px;
    }
}